*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul,
ol,
li {
    list-style: none;
}


img {
    vertical-align: none;
}


h1,
h2, 
h3,
h4,
h5, 
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    width: 100%;
    font-family: 'Spectral';
    letter-spacing: -0.5px;
    color: #fff;
  word-spacing: -0.04rem;
    background-image: radial-gradient(circle at top right,#bfb3ff,rgba(191,179,255,0)),radial-gradient(circle at bottom left,#86acf9,rgba(134,172,249,0));
}

p {
  letter-spacing: -0.5px;
  word-spacing: -0.04rem;
  text-rendering: optimizeLegibility;
  word-break: break-word;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;
  -moz-hyphens: auto;
  -moz-hyphenate-limit-chars: 6 3 3;
  -moz-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-last: always;
  -moz-hyphenate-limit-zone: 8%;
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: 6 3 3;
  -ms-hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-last: always;
  -ms-hyphenate-limit-zone: 8%;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}
