@supports (color: oklch()) {
    .title {
        color: oklch(51.32% 0.261 276.88);
    }

    .text {
        color: oklch(19.33% 0.1 285.35);
    }

    .cancel__box {
        background:  oklch(62% 0.1 269.47);
    }
}

.title {
    font-size: clamp(2rem, 4vw + 1rem, 3rem);
    color: #4f3bf7;
}

.text {
    font-size: clamp(1.1rem, 0.7153rem + 1.6368vw, 1.5rem);
    color: #14043e;
}

.cancel {
    min-height: 100vh;
    width: clamp(16rem, 90vw, 70rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancel__container {
    width: clamp(400px, 60vw, 600px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancel__box {
    width: clamp(125px, 20vw, 200px);
    background: #6e83c3;
}
