.block {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block__container {
    width: 800px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block__box {
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8em;
}

.button {
    width: 200px;
    height: 90px;
    border-radius: 15px;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
}