
.container {
    height: 100%;
    width: 100%;
}
  
@media screen and (max-width: 1024px) {
    .container {
        width: 84%;
    }
}
  
@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}

